#pokedex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin: 1.5rem 3rem 0 2.5rem;
}

.pokemons-length {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
}

.pokemons-length img {
    pointer-events: none;
    user-select: none;
    height: 1.55rem;
}

/* POKÉMON LIST STYLE */
.pokemons-list {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 1.5rem;
    list-style: none;
    width: 92%;
    padding: 0;
    margin-top: 1rem;
}

.pokemon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pokemon__cover::before {
    position: absolute;
    content: '';
    min-width: 9.5rem;
    min-height: 9.5rem;
    background: url('./../../assets/images/pokeball-white.png') no-repeat center;
    background-size: cover;
    transform: rotate(20deg);
    opacity: 20%;
}

.pokemon__cover {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 9.5rem;
    min-height: 9.5rem;
    border-radius: 50rem;
    user-select: none;
    z-index: 1;
    box-shadow: inset 0.1rem 0.1rem 0.4rem var(--shadow-color);
    margin-bottom: -5rem;
}

.button-favorite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2.25rem;
    height: 2.25rem;
    background: var(--secondary-background-color);
    box-shadow: 0 0 0.4rem var(--shadow-color);
    border: none;
    border-radius: 50rem;
    cursor: pointer !important;
    z-index: 3;

    font-size: 1.25rem;
    color: var(--white);
    padding: 1.25rem 1rem 1rem;
}

.bi-heart-fill {
    -webkit-text-stroke-width: 0.085rem;
    -webkit-text-stroke-color: var(--white);
    color: transparent;
    cursor: pointer;
}

.bi-heart-fill:hover, .bi-heart-fill.active {
    -webkit-text-stroke-color: var(--primary-color);
}

.bi-heart-fill.active {
    -webkit-text-stroke-color: var(--primary-color);
    color: var(--primary-color);
}

.pokemon__img {
    width: 9rem;
    height: 9rem;
    padding: 0.5rem;
    cursor: pointer;
    z-index: 2;
    transition: 0.4s;
}

.pokemon__img:hover {
    transform: scale(1.25);
    transition: 0.4s;
}

.pokemon__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    height: 100%;
    list-style: none;
    background: var(--secondary-background-color);
    box-shadow: 0 0 0.4rem var(--shadow-color);
    border-radius: 0.8rem;
    padding: 6rem 1.5rem 1.5rem;
    margin: 0;
}

.pokemon__name {
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--white);
    letter-spacing: 0.05rem;
    padding: 0;
    margin: 0.25rem 0;
}

.pokemon__number {
    text-transform: lowercase;
    align-self: flex-end;
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray-400);
    opacity: 60%;
}

.types-list {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
    margin: 0;   
}

.types-list .type {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50rem;
    filter: brightness(1.1);
    user-select: none;
}

/* Types Colors Style */
.normal {
    background: url('./../../assets/images/types/normal.png') center no-repeat, var(--normal);
    background-size: contain;
}

.pokemon__cover.normal {
    background: var(--normal) !important;
}

.grass {
    background: url('./../../assets/images/types/grass.png') center no-repeat, var(--grass);
    background-size: contain;
}

.pokemon__cover.grass {
    background: var(--grass) !important;
}

.fire {
    background: url('./../../assets/images/types/fire.png') center no-repeat, var(--fire);
    background-size: contain;
}

.pokemon__cover.fire {
    background: var(--fire) !important;
}

.water {
    background: url('./../../assets/images/types/water.png') center no-repeat, var(--water);
    background-size: contain;
}

.pokemon__cover.water {
    background: var(--water) !important;
}

.electric {
    background: url('./../../assets/images/types/electric.png') center no-repeat, var(--electric);
    background-size: contain;
}

.pokemon__cover.electric {
    background: var(--electric) !important;
}

.ice {
    background: url('./../../assets/images/types/ice.png') center no-repeat, var(--ice);
    background-size: contain;
}

.pokemon__cover.ice {
    background: var(--ice) !important;
}

.ground {
    background: url('./../../assets/images/types/ground.png') center no-repeat, var(--ground);
    background-size: contain;
}

.pokemon__cover.ground {
    background: var(--ground) !important;
}

.flying {
    background: url('./../../assets/images/types/flying.png') center no-repeat, var(--flying);
    background-size: contain;
}

.pokemon__cover.flying {
    background: var(--flying) !important;
}

.poison {
    background: url('./../../assets/images/types/poison.png') center no-repeat, var(--poison);
    background-size: contain;
}

.pokemon__cover.poison {
    background: var(--poison) !important;
}

.fighting {
    background: url('./../../assets/images/types/fighting.png') center no-repeat, var(--fighting);
    background-size: contain;
}

.pokemon__cover.fighting {
    background: var(--fighting) !important;
}

.psychic {
    background: url('./../../assets/images/types/psychic.png') center no-repeat, var(--psychic);
    background-size: contain;
}

.pokemon__cover.psychic {
    background: var(--psychic) !important;
}

.dark {
    background: url('./../../assets/images/types/dark.png') center no-repeat, var(--dark);
    background-size: contain;
}

.pokemon__cover.dark {
    background: var(--dark) !important;
}

.rock {
    background: url('./../../assets/images/types/rock.png') center no-repeat, var(--rock);
    background-size: contain;
}

.pokemon__cover.rock {
    background: var(--rock) !important;
}

.bug {
    background: url('./../../assets/images/types/bug.png') center no-repeat, var(--bug);
    background-size: contain;
}

.pokemon__cover.bug {
    background: var(--bug) !important;
}

.ghost {
    background: url('./../../assets/images/types/ghost.png') center no-repeat, var(--ghost);
    background-size: contain;
}

.pokemon__cover.ghost {
    background: var(--ghost) !important;
}

.steel {
    background: url('./../../assets/images/types/steel.png') center no-repeat, var(--steel);
    background-size: contain;
}

.pokemon__cover.steel {
    background: var(--steel) !important;
}

.dragon {
    background: url('./../../assets/images/types/dragon.png') center no-repeat, var(--dragon);
    background-size: contain;
}

.pokemon__cover.dragon {
    background: var(--dragon) !important;
}

.fairy {
    background: url('./../../assets/images/types/fairy.png') center no-repeat, var(--fairy);
    background-size: contain;
}

.pokemon__cover.fairy {
    background: var(--fairy) !important;
}
/* Types Colors Style End */

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    padding: 0;
    margin: 1.5rem 1rem;
}

.pagination button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    border: 0.125rem solid var(--primary-color);
    border-radius: 50rem;
    cursor: pointer;
    padding: 0.3rem;
}

.pagination button span {
    font-size: 1rem;
    font-weight: 600;
    color: var(--gray-600);
    margin: 0 0.5rem;
}

.pagination button:hover {
    box-shadow: inset 0 0 0.4rem var(--secondary-background-color);
}

.pagination button:hover .choose-pokemon__button {
    color: var(--primary-color);
    box-shadow: inset 0 0 0.4rem var(--secondary-background-color) !important;
}

#previousButton {
    display: none;
}

/* MODAL STYLE */
.modal {
    display: none;
    transition: 0.4s;
}

.modal.active {
    position: fixed; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-self: center;
    align-items: center;
    margin: auto !important;
    z-index: 4;
    transition: 0.4s;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    width: 20rem;
    min-height: 25rem;
    border-radius: 0.8rem;  
    border: 0.063rem solid  rgba(30, 35, 70, 0.8);
    background: rgba(20, 25, 54, 0.3);
    box-shadow: 0.05rem 0.05rem 0.2rem var(--shadow-color);
    backdrop-filter: blur( 0.2rem );
    padding: 1.6rem 1.5rem;
    margin: auto;
    z-index: 4;
}

.modal-content .modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-transform: capitalize;
}

.modal-header span, .close-modal {
    font-size: 1.15rem;
    color: var(--white);
    padding: 0;
    margin: 0;
}

.close-modal {
    cursor: pointer;
    transition: 0.4s;
}

.close-modal:hover {
    color: var(--primary-color);
    transform: scale(1.25);
    transition: 0.4s;
}

.modal-content .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    height: 100%;
}

.modal-body__content1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.modal-body__content1 .pokemon__cover {
    margin: 0.5rem 0 1rem;
}

.modal-body__content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

.abilities {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
    gap: 0.3rem;
    padding: 0.8rem 0 0.25rem;
    margin: 0;
}

.abilities-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    color: var(--primary-color);
}

.abilities-list__item {
    font-size: 1rem;
    color: var(--primary-color);
}

.modal-body__content2 .choose-pokemon__dimensions,
.pokemon-favorited .pokemon__img:hover {
    transform: scale(1);
    cursor: auto;
}

.modal-body__content2 .choose-pokemon__dimensions,
.pokemon-favorited .choose-pokemon__dimensions {
    justify-content: center !important;
}

.modal-body__content2 .content1,
.modal-body__content2 .content2,
.modal-body__content2 .content3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    color: var(--primary-color);
    padding: 0.5rem 0;
}

.abilities-list {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    text-transform: capitalize;
    width: 100%;
}

.modal-content .modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.modal-overlay {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:  rgba(10, 14, 45, 0.8);
    padding: 0;
    margin: 0;
    z-index: 3;
}
/* MODAL STYLE END */


/* FAVORITES STYLE */
.pokemon-favorited {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pokemon-favorited__cover {
    background: var(--primary-color);
}


.pokemon-favorited .choose-pokemon__hp,
.pokemon-favorited .choose-pokemon__weight,
.pokemon-favorited .choose-pokemon__height {
    font-size: 1rem;
    text-transform: lowercase !important;
}

/* FAVORITES STYLE END */


/* Breakpoints */
@media screen and (min-width: 768px) {
    .pokemons-list {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        gap: 1.5rem;
    }  
}


@media screen and (min-width: 992px) {
    .pokemons-list {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        gap: 1.5rem;
    }  
}
/* POKÉMON LIST STYLE END */