@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

:root {
    --primary-color: #FFCB05;
    --secondary-color: #3565AE;
    --black: #080917;
    --white: #FCFCFC;
    --gray-100: #EAEAEA;
    --gray-200: #DEE2E6;
    --gray-300: #D1D5D8;
    --gray-400: #8B8B8B;
    --gray-500: #2D3037;
    --gray-600: #212327;

    --normal: #a6a877;
    --grass: #77c850;
    --fire: #ee7f30;
    --water: #678fee;
    --electric: #f7cf2e;
    --ice: #98d5d7;
    --ground: #dfbf69;
    --flying: #a98ff0;
    --poison: #a040a0;
    --fighting: #bf3029;
    --psychic: #f65687;
    --dark: #725847;
    --rock: #b8a137;
    --bug: #a8b720;
    --ghost: #6e5896;
    --steel: #b9b7cf;
    --dragon: #6f38f6;
    --fairy: #f9aec7;

    --title-color: var(--black);
    --subheading-color: var(--primary-color);
    --paragraph-color: var(--black);
    --link-color: var(--black);
    --link-active-color: var(--primary-color);
    --icon-color: var(--secondary-color)
}