@import url('_base.css');


/* POKÉMON LIST STYLE */
.pokemons-list {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    gap: 0.25rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pokemon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.5rem;
    margin: 0.5rem;
}

/* Types Colors Style */
.normal {
    background-color: var(--normal);
}

.grass {
    background-color: var(--grass);
}

.fire {
    background-color: var(--fire);
}

.water {
    background-color: var(--water);
}

.electric {
    background-color: var(--electric);
}

.ice {
    background-color: var(--ice);
}

.ground {
    background-color: var(--ground);
}

.flying {
    background-color: var(--flying);
}

.poison {
    background-color: var(--poison);
}

.fighting {
    background-color:  var(--fighting);
}

.psychic {
    background-color:  var(--psychic);
}

.dark {
    background-color: var(--dark);
}

.rock {
    background-color: var(--rock);
}

.bug {
    background-color: var(--bug);
}

.ghost {
    background-color: var(--ghost);
}

.steel {
    background-color: var(--steel);
}

.dragon {
    background-color: var(--dragon);
}

.fairy {
    background-color: var(--fairy);
}
/* Types Colors Style End */

.pokemon__img {
    max-width: 100%;
    height: 5rem;
    align-self: center;
    margin-bottom: -0.55rem;
    z-index: 1;
}

.pokemon__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.25rem;
    list-style: none;
    padding: 1.55rem 1.125rem 1.125rem;
    margin: 0;
}

.pokemon__number {
    color: var(--white);
    text-align: right;
    margin: 0;
}

.pokemon__name {
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--white);
    padding: 0;
    margin: 0.25rem 0;
}

.types-list {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
    margin: 0;   
}

.types-list .type {
    font-size: 0.85rem;
    text-align: center;
    text-transform: capitalize;
    border-radius: 25rem;
    padding: 0.4rem 0.8rem;
    filter: brightness(1.1);
}

/* Breakpoints */
@media screen and (min-width: 576px) {
    .pokemons-list {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }  
}


@media screen and (min-width: 768px) {
    .pokemons-list {
        display: grid;
        grid-template-columns: repeat(3, 33%);
    }  
}

@media screen and (min-width: 1400px) {
    .pokemons-list {
        display: grid;
        grid-template-columns: repeat(4, 25%);
    }  
}
/* POKÉMON LIST STYLE END */

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    margin: 0;
}

.pagination button {
    font-size: 1rem;
    color: var(--white);
    background-color: var(--secondary-color);
    border: 0.125rem solid var(--secondary-color);
    border-radius: 50rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin: 0.25rem 0;
}

.pagination button:hover {
    box-shadow: inset 0 0 0.4rem var(--gray-600);
}