@import url('_base.css');

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--white);
    color: var(--black);
    font-family: 'Heebo', Arial, sans-serif;
}

::selection {
    background-color: var(--primary-color);
}

/* SCROLLBAR STYLE */
::-webkit-scrollbar {
    width: 0.4rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--gray-100);
    border-radius: 50rem;
}
/* SCROLLBAR STYLE END */

header {
    position: fixed;
    top:0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    box-shadow: 0 0 0.4rem var(--gray-200);
    background-color: var(--white);
    padding: 0.5rem 1rem;
    margin: 0;
    user-select: none;
    z-index: 3;
}

.navbar__brand {
    margin: 0 0.5rem;
    cursor: pointer;
}

.navbar__brand img {
    height: 4rem;
    padding: 0.5rem;
    pointer-events: none;
}